extends ../layout 
block content 
    h2 #{title}
    form(data-ajax data-redirect='/empleados' method='post', action='/api/empleados')
        label
            span Nombre
            input(type='text', id="input-nombre" name='nombre', required)
        
        label
            span Rol
            input(type='text', id="input-rol" name='rol', required)
        
        label
            span Área
            input(type='text', id="input-area" name='area', required)
        
        a(href='/empleados', class="btn btn-red") ❌ Cancelar
        button(type='submit', class="btn btn-green btn-guardar") ✅ Guardar
        