@import url("./reset.css");

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
nav {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: .5rem;
}

footer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  .integrantes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0rem;
    h3 {
      width: 100%;
    }
  }
}

table{
  min-width: 100%;
  border-collapse: collapse;
  thead{
    background-color: #333;
    color: #CCC;
  }
  tr:not(:has(th)){
    transition: background-color .2s;
    &:hover{
      background-color: #ccc;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    .integrantes {
      flex-direction: row;
      gap: 1rem;
    }
  }
}

.btn {
  --bg-color: #fff;
  --text-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--text-color);
  text-wrap-mode: nowrap;
  background: var(--bg-color);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
  &:visited {
    --text-color: #333;
  }
  &:hover {
    --bg-color: #333;
    --text-color: #ccc;
  }
  &.btn-green {
    --bg-color: #bada55;
    --text-color: #333;
    &:hover {
      --bg-color: #333;
      --text-color: #bada55;
    }
  }
}
.table-container{
  max-width: 100%;
  overflow-x: auto;
}
td{
  text-wrap-mode: nowrap;
}
.txt-wrap{
  text-wrap-mode: wrap;
}
