extends ../layout
block content
    h1 #{title}
    form(data-ajax data-redirect='/turnos' method='post', action='/api/turnos')
        label Paciente ID
        input(type='number', name='pacienteId', required)
        br
        label Empleado ID
        input(type='number', name='empleadoId', required)
        br
        label Inicio
        input(type='datetime-local', name='fechaInicio', required)
        br
        label Fin
        input(type='datetime-local', name='fechaFin', required)
        br
        label Prioridad
        select(name='prioridad')
            option(value='alta') alta
            option(value='media') media
            option(value='baja') baja
        br
        label Estado
        select(name='estado')
            option(value='pendiente') pendiente
            option(value='en proceso') en proceso
            option(value='finalizado') finalizado
        br
        label Observaciones
        input(type='text', name='observaciones')
        br
        button(type='submit') Guardar